<header>
  <nav class="blue-grey darken-3 z-depth-2" id="nav-header-page">
    <div class="container" id="customize-home-container">
      <div class="nav-wrapper">
        <%= link_to "HYPER-TOP1", root_path, class: 'brand-logo' %>

        <ul class="right hide-on-med-and-down">
          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">queue_music</i>
                </li>
                <li class="li-list-item-header"><%= "My music" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">stars</i>
                </li>
                <li class="li-list-item-header"><%= "Top 100" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">subject</i>
                </li>
                <li class="li-list-item-header"><%= "Subject" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">album</i>
                </li>
                <li class="li-list-item-header"><%=  "Album" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <a class="link-to-item-header" href="#">
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icon-in-top-menu">library_music</i>
                </li>
                <li class="li-list-item-header"><%= "Article" %></li>
              </a>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <%= link_to "#", class: 'link-to-item-header' do %>
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icons-task-header-menu">person_add</i>
                </li>
                <li class="li-list-item-header">
                  <%=  "Sign up" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="li-list-item-top-menu">
            <ul class="ul-list-item-header">
              <%= link_to login_path, class: 'link-to-item-header' do %>
                <li class="li-list-item-header">
                  <i class="material-icons md-24 icons-task-header-menu">lock</i>
                </li>
                <li class="li-list-item-header">
                  <%= "Login" %>
                </li>
              <% end %>
            </ul>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</header>